@{ 
    //nesteed layout view
    Layout = "_Layout";

    //use current controller determine if tab is active
    var current = ViewContext.RouteData.Values["controller"]?.ToString();
}

@*
Since many admin views deal with user entry and data validation,
    jQuery validation libraries are included here rather than indivdual views.
*@
@section scripts{ 
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<ul class="nav nav-tabs mt-2 mb-3">
    <li class="nav-item">
        <a asp-controller="Book" asp-action="Index" class="nav-link @KashBookStore.Models.ViewModels.Nav.Active("Book", current)">
            Manage Books
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Author" asp-action="Index" class="nav-link @KashBookStore.Models.ViewModels.Nav.Active("Author", current)">
            Manage Authors
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Genre" asp-action="Index" class="nav-link @KashBookStore.Models.ViewModels.Nav.Active("Genre", current)">
            Manage Genres
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="User" asp-action="Index" class="nav-link @KashBookStore.Models.ViewModels.Nav.Active("User", current)">
            Manage Users
        </a>
    </li>
</ul>

@RenderBody()